services:
  postgres:
    image: postgres:17
    container_name: postgres
    environment:
      POSTGRES_USER: postgres 
      POSTGRES_PASSWORD: slushgentlemansmell 
      POSTGRES_DB: moonless
    ports:
      - 2345:5432
    volumes:
      - moonless_data:/var/lib/postgresql/data
      - ./init:/docker-entrypoint-initdb.d/
    command: >
      postgres
      -c ssl=off
volumes:
  moonless_data:
